
/* Inter - 400 */

@font-face {
    font-family: "Inter";
    font-weight: 400;
    src: url("../assets/fonts/Inter-Regular.ttf");
}

/* Inter - 700 */

@font-face {
    font-family: "Inter";
    font-weight: 700;
    src: url("../assets/fonts/Inter-Bold.ttf");
}

/* Inika - 400 */

@font-face {
    font-family: "Inika";
    font-weight: 400;
    src: url("../assets/fonts/Inika-Regular.ttf");
}

/* Inika - 700 */

@font-face {
    font-family: "Inika";
    font-weight: 700;
    src: url("../assets/fonts/Inika-Bold.ttf");
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.green {
    color: #499A18;
}
.red {
    color: #E06733;
}

html,
body {
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    color: #636060;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 109px;
}
.header {
    background: #EDF2EC;
}
.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 51px 109px 62px 109px;
}
.nav {
    padding-top: 6px;
}
.nav__list {
    list-style: none;
    display: flex;
    gap: 47px;
    position: relative;
    top: 1px;
    right: 2px;
}
.nav__item {
    font-family: 'Inika';
    cursor: pointer;
}
.nav__item a {
    color: #010201;
}
.active {
    font-weight: 700;
    color: #E06733 !important;
}
@media (max-width: 900px) {
    .wrapper {
        max-width: 768px;
        margin: 0 auto;
        padding: 0 50px;
    }
    .header .wrapper {
        padding: 43px 50px 35px 50px;
    }
    .nav__list {
        gap: 46px;
    }
}
.welcome, .service, .contacts {
    background: #EDF2EC;
}
.welcome__container {
    display: flex;
    justify-content: space-between;
    padding: 48px 0 51px 0;
}
.welcome__title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    padding-bottom: 15px;
}
.welcome__content{
    max-width: 549px;
    padding-top: 14px;
}
.welcome__image {
    margin-left: -10px;
}
.welcome__text {
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    padding-bottom: 47px;
}
@media (max-width: 900px) {
    .welcome__container {
        flex-direction: row-reverse;
        padding-bottom: 69px;
    }
    .welcome__title {
        font-size: 35px;
        padding-bottom: 30px;
        margin: 0;
    }
    .welcome__image img {
        display: none;
    }
    .welcome__image {
        background-image: url(../assets/image/leafs-tablet.png);
        width: 280px;
        height: 254px;
        position: relative;
        bottom: 4px;
        right: 7px;
    }
    .welcome__content{
        max-width: 346px;
        padding-top: 5px;
    }
    .welcome__text {
        font-size: 16px;
        line-height: 25px;
        padding-bottom: 35px;
        padding-left: 7px;
    }
}
.btn {
    padding: 10px 26px;
    border: 2px solid #E06733;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    background: #EDF2EC;
}
.about__container{
    display: flex;
    justify-content: space-between;
    padding: 94px 0 91px 0;
    align-items: center;
}
.about__content {
    max-width: 605px;
}
.about__title {
    font-family: 'Inika';
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    padding: 4px 0 37px 0;
    max-width: 463px;
}
.about__text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}
@media (max-width: 900px) {
    .about__container {
        flex-direction: column;
        padding-top: 40px;
    }
    .about__content {
        max-width: 668px;
    }
    .about__title{
        max-width: 423px;
        margin: 0 auto;
        text-align: center;
        padding: 0 0 51px 0;
        font-size: 35px;
        line-height: 46px;
    }
    .about__image img {
        max-width: 250px;
        max-height: 258px;
    }
    .about__text {
        padding-bottom: 68px;
    }
   
}
.service__title {
    font-family: 'Inika';
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    max-width: 306px;
}
.service__content {
    display: flex;
    padding: 40px 0 79px 0;
}
.service__btns {
    padding: 29px 0 0 142px;
}
.service__btn{
    padding: 11px 43px 10px 38px;
    font-family: 'Inika';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    margin-right: 33px;
    border: 1px solid #E06733;
    border-radius: 5px;
}
.service__btn:nth-child(2) {
    padding: 10px 55px;
}
.cards {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(330px, 1fr)); 
    width: 100%;
    row-gap: 55px;
    column-gap: 116px;
    padding-bottom: 120px;
}
.card__content {
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    max-width: 330px;
}
.card__image img{
    vertical-align: top;
    width: 330px;
    height: 350px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.card__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
    padding: 10px 0 14px 0;
}
.card__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
    padding-bottom: 35px;
}
@media (max-width: 900px) {
    .service__content {
        flex-direction: column;
        padding: 60px 0 40px 0;
    }
    .service__title {
        font-size: 35px;
        line-height: 46px;
    }
    .service__btns {
        padding: 42px 0 0 0;
    }
    .cards {
        grid-template-columns:repeat(auto-fit, minmax(281px, 1fr)); 
        row-gap: 38px;
        column-gap: 106px;
        padding-bottom: 70px;
    }
    .card__image img {
        width: 280px;
        height: 350px;
    }
    .card__title {
        padding: 10px 0 10px 0;
    }
    .card__text {
        padding: 0 39px 18px 39px;
    }
}
.prices__block {
    padding: 39px 0 129px;
    display: flex;
    justify-content: space-between;
}
.price__title {
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    padding-bottom: 61px;
}
.price__list {
    display: flex;
    flex-direction: column;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    gap: 32px;
    padding: 29px 38px 33px 42px;
}
.price__item {
    background: #EDF2EC;
    border-radius: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    padding: 13px 123px 16px 36px;
    position: relative;
    cursor: pointer;
}
.price__item:first-child {
    padding: 19px 123px 16px 36px;
}
.price__item::after {
    content: url(../assets/icons/ptices_btn.svg);
    position: absolute;
    right: 41px;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 452px;
    gap: 38px;
    position: relative;
}
.info__text {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: #000000;
}
.info__btn {
    padding: 12px 34px 12px 30px;
    background: #FFFFFF;
    font-family: 'Inika';
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
}
.info__img img {   
    height: 175px;
}
@media (max-width: 980px) {
    .info__text {
        font-size: 25px;
        line-height: 35px;
    }

}
/* @media (max-width: 930px) {
    .info__img {
        top: 280px;
        left: 179px;
    }
} */
.contacts__content {
    display: flex;
    padding-top: 50px;
}
.contacts__image {
    padding-right: 113px;
    position: relative;
    top: 3px;
}
.contacts__title {  
    font-family: 'Inika';
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    padding: 10px 68px 0 0;
}
.contacts__list {
    position: relative;
    padding-top: 97px;
}
.contacts__item {
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    padding: 5px 390px 5px 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #717171;
    cursor: pointer;
}
.contacts__item::after {
    content: url(../assets/icons/accordion_btn.svg);
    position: absolute;
    right: 33px;
}
@media (max-width: 1300px) {
    .contacts__title{
        position: absolute;
    }
    .contacts__content{
        flex-direction: column-reverse;
        padding: 50px 109px 0 109px;
    }
}
.footer__content {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 38px 0;
    font-size: 20px;
    line-height: 45px;
    color: #000000;
}
.footer__text {
    margin-left: 18px;
}
.footer__year{
    display: flex;
    gap: 20px;
}
.footer__icons {
    display: flex;
    gap: 20px;
    padding-top: 7px;
}
.footer__icon {
   list-style-type: none;
}
.footer a {
    color: #000000;
}
.footer__image {
    transition: 0.3;
}
/* hover,active... */
.btn:hover {
    background: #E06733;
    border: 1px solid #E06733;
    outline: 1px solid #E06733;
    border-radius: 10px;
    color: #FFFFFF;
    transition: 0.3s;
}
.contacts__item:hover {
    background: #C1E698;
    border: 0.5px solid #D6E7D2;
    outline: 0.5px solid #D6E7D2;
    border-radius: 0px;

}
.nav__item a:hover, .nav__item a:active{
    color: #E06733;
}
.price__item:hover {
    background: #D6E7D2;
}
.footer__image:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
   }

@media (max-width: 900px) {

}