
/* Inter - 400 */

@font-face {
    font-family: "Inter";
    font-weight: 400;
    src: url("../assets/fonts/Inter-Regular.ttf");
}

/* Inter - 700 */

@font-face {
    font-family: "Inter";
    font-weight: 700;
    src: url("../assets/fonts/Inter-Bold.ttf");
}

/* Inika - 400 */

@font-face {
    font-family: "Inika";
    font-weight: 400;
    src: url("../assets/fonts/Inika-Regular.ttf");
}

/* Inika - 700 */

@font-face {
    font-family: "Inika";
    font-weight: 700;
    src: url("../assets/fonts/Inika-Bold.ttf");
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.green {
    color: #499A18;
}
.red {
    color: #E06733;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    color: #636060;
}

.wrapper {
    max-width: 1222px;
    margin: 0 auto;
}
.header {
    background: #EDF2EC;
}
.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 0 61px 0;
}
.nav {
    padding-top: 6px;
}
.nav__list {
    list-style: none;
    display: flex;
    gap: 47px;
}
.nav__item {
    font-family: 'Inika';
    cursor: pointer;
}
.nav__item a {
    color: #010201;
}
.active {
    font-weight: 700;
    color: #E06733 !important;
}
.welcome, .service, .contacts {
    background: #EDF2EC;
}
.welcome__container {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 51px 0;
}
.welcome__title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    padding-bottom: 15px;
}
.welcome__content{
    max-width: 549px;
    padding-top: 14px;
}
.welcome__image {
    margin-left: -10px;
}
.welcome__text {
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    padding-bottom: 47px;
}
.btn {
    padding: 10px 26px;
    border: 2px solid #E06733;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    background: #EDF2EC;
}
.about__container{
    display: flex;
    justify-content: space-between;
    padding: 93px 0 91px 0;
    align-items: center;
}
.about__content {
    max-width: 605px;
}
.about__title {
    font-family: 'Inika';
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    padding: 4px 0 37px 0;
    max-width: 463px;
}
.about__text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}
.service__title {
    font-family: 'Inika';
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    max-width: 306px;
}
.service__content {
    display: flex;
    padding: 40px 0 79px 0;
}
.service__btns {
    padding: 29px 0 0 142px;
}
.service__btn{
    padding: 11px 43px 10px 38px;
    font-family: 'Inika';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    margin-right: 33px;
    border: 1px solid #E06733;
    border-radius: 5px;
}
.service__btn:nth-child(2) {
    padding: 10px 55px;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    row-gap: 53px;
    column-gap: 116px;
    padding-bottom: 121px;
}
.card__content {
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
}
.card__image img{
    vertical-align: top;
}
.card__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
    padding: 10px 0 14px 0;
}
.card__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
    padding-bottom: 36px;
}
.prices__block {
    padding: 38px 0 128px;
    display: flex;
    justify-content: space-between;
}
.price__title {
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    padding-bottom: 60px;
}
.price__list {
    display: flex;
    flex-direction: column;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    gap: 32px;
    padding: 29px 38px 33px 42px;
}
.price__item {
    background: #EDF2EC;
    border-radius: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    padding: 13px 123px 16px 36px;
    position: relative;
    cursor: pointer;
}
.price__item:first-child {
    padding: 19px 123px 16px 36px;
}
.price__item::after {
    content: url(../assets/icons/accordion_btn.svg);
    position: absolute;
    right: 41px;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 452px;
    gap: 38px;
    position: relative;
}
.info__text {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: #000000;
}
.info__btn {
    padding: 12px 34px 12px 30px;
    background: #FFFFFF;
    font-family: 'Inika';
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
}
.info__img {   
    position: absolute;
    top: 222px;
    left: 294px;
}
.contacts__content {
    display: flex;
    padding-top: 53px;
}
.contacts__image {
    padding-right: 113px;
}
.contacts__title {  
    font-family: 'Inika';
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    padding: 10px 68px 0 0;
}
.contacts__list {
    position: relative;
    padding-top: 96px;
}
.contacts__item {
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    padding: 5px 390px 5px 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #717171;
    cursor: pointer;
}
.contacts__item::after {
    content: url(../assets/icons/accordion_btn.svg);
    position: absolute;
    right: 33px;
}
.footer__content {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 38px 0;
    font-size: 20px;
    line-height: 45px;
    color: #000000;
}
.footer__text {
    margin-left: 18px;
}
.footer__year{
    display: flex;
    gap: 20px;
}
.footer__icons {
    display: flex;
    gap: 20px;
    padding-top: 7px;
}
.footer__icon {
   list-style-type: none;
}
/* hover,active... */
.btn:hover {
    background: #E06733;
    border: 1px solid #E06733;
    outline: 1px solid #E06733;
    border-radius: 10px;
    color: #FFFFFF;
}
.contacts__item:hover {
    background: #C1E698;
    border: 0.5px solid #D6E7D2;
    outline: 0.5px solid #D6E7D2;
    border-radius: 0px;
}
.nav__item a:hover, .nav__item a:active{
    color: #E06733;
    
}